body {
    background-color: grey;
    color: black;
}

.UIContainer {
    display: flex;
    justify-content: center;
}

.gridContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FEFEFE;
    width: 500px;
    height: 500px;
    margin-top: 145px;
}

.gridSizeValue {
    color: black;
}

.box {
    margin: 0;
    padding: 0;
}